<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'racingteams')}">

<body>

  <h2>
    <th:block th:if="${car['new']}">New </th:block>
    Pet
  </h2>
  <form th:object="${car}" class="form-horizontal" method="post">
    <input type="hidden" name="id" th:value="*{id}" />
    <div class="form-group has-feedback">
      <div class="form-group">
        <label class="col-sm-2 control-label">Racing Team</label>
        <div class="col-sm-10">
          <span th:text="${racingTeam?.name}" />
        </div>
      </div>
      <input
        th:replace="~{fragments/inputField :: input ('Model', 'model', 'text')}" />
      <input
        th:replace="~{fragments/selectField :: select ('Make', 'make', ${makes})}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${car['new']} ? 'Add Car' : 'Update Car'"
          class="btn btn-primary" type="submit" th:text="${text}">Add
          Car</button>
      </div>
    </div>
  </form>

</body>

</html>
