<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'racingteams')}">

<body>

  <h2>
    <th:block th:if="${tuning['new']}">New </th:block>
    Tuning Service
  </h2>

  <b>Car</b>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Model</th>
        <th>Make</th>
        <th>RacingTeam</th>
      </tr>
    </thead>
    <tr>
      <td th:text="${car.model}"></td>
      <td th:text="${car.make}"></td>
      <td th:text="${car.racingTeam.name}"></td>
    </tr>
  </table>

  <form th:object="${tuning}" class="form-horizontal" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Date', 'date', 'date')}"  />
      <input
        th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}" />
    </div>

    <div class="form-group">
      <div class="col-sm-offset-9 col-sm-3">
        <input type="hidden" name="carId" th:value="${car.id}" />
        <button class="btn my-btn" type="submit">Add Tuning Service</button>
      </div>
    </div>
  </form>

  <br />
  <b>Previous Tuning Services</b>
  <br />
  <table class="table table-striped">
    <tr>
      <th class="prev-tuning-th">Date</th>
      <th class="prev-tuning-th">Description</th>
    </tr>
    <tr th:if="${!tuning['new']}" th:each="tuning : ${car.tunings}">
      <td th:text="${#temporals.format(tuning.date, 'yyyy-MM-dd')}"></td>
      <td th:text=" ${tuning.description}"></td>
    </tr>
  </table>

</body>
</html>
