<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Motospring Index</title>
</head>
<body>
    <div class="container-fluid">
        <h1 class="welcome-title">Welcome to Motospring App!</h1>
        <h4 class="welcome-subtitle">(created for portfolio purposes)</h4>
            <div class="info-box">
                <h1 class="welcome-cyber-text version-text">v1.0.1</h1>
                <hr/>
                <h4 class="welcome-cyber-text">
                    The App is currently in development stage. Following Use Cases have been implemented so far:
                </h4>
                <p class="welcome-cyber-text">
                    ❯ search Racing Teams *
                    <br/>⸺❯ display Racing Teams List
                    <br/>⸺⸺❯ display Racing Team Details
                    <br/>⸺⸺⸺❯ edit Racing Team
                    <br/>⸺⸺⸺❯ add new Car
                    <br/>⸺⸺⸺❯ edit a Car
                    <br/>⸺⸺⸺❯ add new Tuning Service
                    <br/>❯ display Garages List
                    <br/>❯ simulate Error
                    <br/><br/>* search for empty phrase to list all :)
                </p>
            </div>
    </div>
</body>
</html>