<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Racing Teams List</title>
</head>
<body>
<h2 th:text="'List of Garages'">List of Garages...</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 150px;">Name</th>
        <th style="width: 150px;">Nationality</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="garage : ${garages}">
        <td th:text="${garage.id}" >1</td>
        <td th:text="${garage.name}">dummytext</td>
        <td th:text="${garage.nationality}">dummytext</td>
    </tr>
    </tbody>
</table>

</body>
</html>