<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Error</title>
    <link rel="stylesheet" th:href="@{/resources/css/motospring.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/styles.css}"/>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="err-col col-md-4 col-md-offset-4">
                <div class="error-box">
                    <h1 class="error-text">404 Error</h1>
                    <p class="error-text">The resource you're looking for could not be found</p>
                    <p class="error-text">:(</p>
                </div>
            </div>
        </div>
    </div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>

</html>
